# Start from LLVM's defaults and override only the things
# we want to customize.
BasedOnStyle: LLVM


# ---------------------------------------------------------------------------
# Indentation
# ---------------------------------------------------------------------------

# Number of spaces used for each indentation level.
IndentWidth: 2

# Width clang-format assumes for a tab character.
# Since UseTab is Never, this mostly matters when reading existing tabs.
TabWidth: 2

# Never use tabs for indentation; use spaces instead.
UseTab: Never


# ---------------------------------------------------------------------------
# Line length
# ---------------------------------------------------------------------------

# Try to keep lines within 80 columns.
ColumnLimit: 80


# ---------------------------------------------------------------------------
# Pointers
# ---------------------------------------------------------------------------

# Put the '*' next to the variable name:
#
#   char *ptr;
#
# rather than:
#
#   char* ptr;
PointerAlignment: Right


# ---------------------------------------------------------------------------
# Braces
# ---------------------------------------------------------------------------

# Don't use one of clang-format's predefined brace styles.
# Instead, configure individual brace situations below.
BreakBeforeBraces: Custom

BraceWrapping:

  # Put the opening brace of control statements on its own line:
  #
  #   if (condition)
  #   {
  #     ...
  #   }
  #
  # Applies to if, for, while, switch, etc.
  AfterControlStatement: Always

  # Put the opening brace of function definitions on its own line:
  #
  #   void foo()
  #   {
  #     ...
  #   }
  AfterFunction: true

  # Keep braces for structs on the same line:
  #
  #   struct foo {
  #     ...
  #   }
  AfterStruct: false

  # Same idea for unions.
  AfterUnion: false

  # Same idea for enums.
  AfterEnum: false

  # Same idea for classes (mostly relevant to C++).
  AfterClass: false

  # Keep namespace braces on the same line (C++).
  AfterNamespace: false

  # Keep extern "C" braces on the same line (C++).
  AfterExternBlock: false

  # Put 'else' on its own line after the closing brace:
  #
  #   if (foo)
  #   {
  #     ...
  #   }
  #   else
  #   {
  #     ...
  #   }
  BeforeElse: true

  # Same idea for 'catch' (C++).
  BeforeCatch: true


# ---------------------------------------------------------------------------
# Functions
# ---------------------------------------------------------------------------

# Break the return type away from the function name for top-level
# function definitions:
#
#   static int
#   foo(int a)
#   {
#     ...
#   }
#
# Declarations/prototypes aren't affected in the same way.
AlwaysBreakAfterReturnType: TopLevelDefinitions

# Don't pack multiple parameters onto the same line when a function
# declaration needs to be broken:
#
#   int foo(int first,
#           int second,
#           int third);
BinPackParameters: false

# Same idea for function calls:
#
#   foo(first,
#       second,
#       third);
BinPackArguments: false


# ---------------------------------------------------------------------------
# Short constructs
# ---------------------------------------------------------------------------

# Don't put short if statements on a single line:
#
#   if (foo) bar();
#
# becomes:
#
#   if (foo)
#   {
#     bar();
#   }
AllowShortIfStatementsOnASingleLine: Never

# Allow genuinely empty functions to remain on one line:
#
#   void foo() {}
#
# Non-empty functions will still be expanded normally.
AllowShortFunctionsOnASingleLine: Empty
